# Ignore Arduino compiled files and temporary files
*.hex
*.elf
*.eep
*.bin
*.o
*.d
*.map

# Ignore Arduino build folders
/build/
/debug/
/release/

# Ignore system files (macOS, Windows, Linux)
.DS_Store
Thumbs.db
desktop.ini

# Ignore logs and temporary files
*.log
*.tmp
